<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>NCM - IT Infra</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="/static/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/static/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="/static/assets/css/layout.min.css" rel="stylesheet" type="text/css">
	<link href="/static/assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="/static/assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="/static/js/main/jquery.min.js"></script>
	<script src="/static/js/main/bootstrap.bundle.min.js"></script>
	<script src="/static/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="/static/js/plugins/forms/selects/select2.min.js"></script>
	<script src="/static/js/plugins/forms/styling/uniform.min.js"></script>
	<script src="/static/js/plugins/tables/datatables/datatables.min.js"></script>


	<script src="/static/assets/js/app.js"></script>
	<script src="/static/js/demo_pages/form_layouts.js"></script>
	<script src="/static/js/demo_pages/datatables_advanced.js"></script>
	<!-- /theme JS files -->


</head>
{% block body %}
<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-dark">
		<div class="navbar-brand">
			<a href="/home" class="d-inline-block">

			</a>
		</div>

		<div class="d-md-none">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button>
			<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
				<i class="icon-paragraph-justify3"></i>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbar-mobile">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
						<i class="icon-paragraph-justify3"></i>
					</a>
				</li>


			</ul>

			<span class="navbar-text ml-md-3 mr-md-auto">

			</span>

			<ul class="navbar-nav">



				<li class="nav-item dropdown dropdown-user">
					<a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
						<img src="/static/images/placeholders/placeholder.jpg" class="rounded-circle" alt="">
						<span>{{session['username']}}</span>
					</a>

					<div class="dropdown-menu dropdown-menu-right">
						<a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
						<a href="/logout" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

			<!-- Sidebar mobile toggler -->
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				Navigation
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<!-- /sidebar mobile toggler -->


			<!-- Sidebar content -->
			<div class="sidebar-content">

				<!-- User menu -->

				<!-- /user menu -->


				<!-- Main navigation -->
				<div class="card card-sidebar-mobile">
					<ul class="nav nav-sidebar" data-nav-type="accordion">

						<!-- Main -->
						<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main Menu</div> <i class="icon-menu" title="Main"></i></li>
						<li class="nav-item">
<li class="nav-item nav-item-submenu">
<a href="#" class="nav-link"><i class="icon-loop3"></i> <span>Backup</span></a>

<ul class="nav nav-group-sub" data-submenu-title="Layouts">
<li class="nav-item"><a href="/back" class="nav-link active">Backup Device</a></li>
<li class="nav-item"><a href="/schedulebackup" class="nav-link">Schedule Backup</a></li>

</ul>
</li>
						<li class="nav-item">
                                                        <a href="/user" class="nav-link">
                                                                <i class="icon-plus3"></i>
                                                                <span>
                                                                        Input Device

                                                                </span>
                                                        </a>
                                                </li>

						<li class="nav-item">
                                                        <a href="/compares" class="nav-link">
                                                                <i class="icon-list"></i>
                                                                <span>
                                                                        Compare File

                                                                </span>
                                                        </a>
                                                </li>
						<li class="nav-item">
							<a href="/home" class="nav-link">
								<i class="icon-list"></i>
								<span>
									Report Backup

								</span>
							</a>
						</li>




						<!-- /page kits -->

					</ul>
				</div>
				<!-- /main navigation -->

			</div>
			<!-- /sidebar content -->

		</div>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->

			<!-- /page header -->


			<!-- Content area -->
			<div class="content">

				<!-- Vertical form options -->

				<!-- /vertical form options -->


				<!-- Centered forms -->
				<div class="row">
					<div class="col-md-6">

					</div>

					<div class="col-md-6">

					</div>
				</div>
				<!-- /form centered -->


				<!-- Fieldset legend -->
				<div class="row">
					<div class="col-md-6">

						<!-- Basic legend -->

						<!-- /basic legend -->

					</div>

					<div class="col-md-6">

						<!-- Advanced legend -->

						<!-- /advanced legend -->

					</div>
				</div>
				<!-- /fieldset legend -->


				<!-- 2 columns form -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">List User</h5>
            <button class="btn btn-primary" id="modal-1">Add User</button>
						<div class="header-elements">

	                	</div>
					</div>

					<div class="card-body">


							<br/>
							<br/>
							<div class="card">



								<table class="table table-bordered table-hover datatable-highlight">
									<thead>
										<tr>
											<th>Nama Lengkap</th>
											<th>Tanggal Lahir</th>
											<th>No KTP</th>
											<th>Pekerjaan</th>
											<th>Pendidikan Terakhir</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for row in sites %}
										<tr>
												<td>{{row.1}}</td>
												<td>{{row.2}}</td>
												<td>{{row.3}}</td>
												<td>{{row.4}}</td>
												<td>{{row.5}}</td>

												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>

															<div class="dropdown-menu dropdown-menu-right">
																<a href="/view/{{ row.0 }}" class="dropdown-item"><i class="icon-file-eye2"></i> View</a>
																<a href="/delete/{{ row.0 }}" class="dropdown-item"><i class="icon-trash"></i>Delete</a>


															</div>
														</div>
													</div>
												</td>
										</tr>
										{% endfor  %}
									</tbody>
								</table>
							</div>
					</div>
				</div>
				<!-- /2 columns form -->

			</div>
			<!-- /content area -->


			<!-- Footer -->

			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
          <!-- Horizontal form modal -->
	   <div id="myModal" class="modal fade" tabindex="-1">
	      <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
		    <h5 class="modal-title">Compare Device</h5>
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>

		<form action="/comparefile" class="form-horizontal" method="POST" enctype="multipart/form-data">
		<div class="modal-body">
		<div class="form-group row">
		<select class="form-control form-control-select2" name="file1" data-placeholder="Device Site">
  		<option> Chose Device</option>
         	{% for site in sites %}
  		<option value="{{site.5}}">{{site.3}} - {{site.5}}</option>
         	{% endfor  %}
  		</select>
		</div>
		 <div class="form-group row">
                <select class="form-control form-control-select2" name="file2" data-placeholder="Device Site">
                <option> Choose Device</option>
                {% for site in sites %}
                <option value="{{site.5}}">{{site.3}} - {{site.5}}</option>
                {% endfor  %}
                </select>
                </div>
		<div class="modal-footer">
		<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
		<button type="submit" class="btn bg-primary">Compare</button>
		</div>
		</form>
		</div>
		</div>
	</div>
</body>
{% block plugins_js %}
  <script src="../node_modules/prismjs/prism.js"></script>
{% endblock %}

{% block page_js %}
  <script src="../assets/js/page/bootstrap-modal.js"></script>
{% endblock %}
</html>
